# Compiled source #
###################
*.o
AuditoryModel/*/Release/

#backup files
*~

#matlab data files
*.ani
*.dat

# Octave / MATLAB mex binaries (built locally or in Docker)
IPEMToolbox/Common/IPEMProcessAuditoryModelSafe.mex
IPEMToolbox/Common/IPEMProcessAuditoryModelSafe.mex*
